body {
  font-family:'Arial',sans-serif;
  margin:0;
  padding:0;
  background-color: #f4f4f4;
  color:#333;
}

h1,h2,h3 {
  color:#007bff;
}

button {
  background-color:#007bff;
  color: white;
  padding:10 px 20 px;
  border: none;
  cursor:pointer;
}

button:hover {
  background-color: #0056b3;
}