.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e2f4f1;
  padding: 10px 32px;
  border-radius: 0 0 10px 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .navbar span {
  color: #00d5a7;
  margin: 0;
  font-size: 34px;
  font-weight: 900;
  font-family: monospace;
} */

.links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.links li a {
  color: #00c59a;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 0.2s, color 0.2s;
}

.links li a:hover {
  background: #01bba3;
  color: #adf9e8;
}